@font-face {
  font-family: "ale";
  src: url("fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf");

}




body {

  font-family: "ale";



  background-color: hsl(0, 100%, 20%)
}

h1 {
  color: rgb(0, 0, 0);
}

img {
  height: auto;
  width: 100%;
}

.texto {
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.grupo-fotos {
  background-color: #fdfdfd;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  gap: 20px;
}

.foto {
  background-color: #fff9f9;
  width: 120%;
  display:grid;
  margin-left: 0%;
  margin-right: 0%;
}


.myButton {
  box-shadow: 8px 7px 12px -1px #470101;
  background: linear-gradient(to bottom, #474545 5%, #505050 100%);
  background-color: #525252;
  border-radius: 42px;
  border: 3px solid #616161;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 21px;
  font-weight: bold;
  padding: 16px 42px;
  text-decoration: none;  
  text-shadow: 0px -6px 0px #5d5e5f;
}

.myButton:hover {
  background: linear-gradient(to bottom, #545455 5%, #555657 100%);
  background-color: #530606;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.ale {
  height: auto;
  width: 50;
}

table th {
  background-color: rgb(0, 255, 0);
  border-style: outset;
  }

table td {
  background-color: rgb(255, 0, 170);

}

#listanav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #630303;
}

#listanav li {
  display: inline-block
}
 

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #4c4b4b;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
.beni {
  background-color: #fff9f9;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  max-width: 1800px;
  gap: 20px;
}

.aleksio {
  background-color: #fff9f9;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  max-width: 1200px;
  gap: 20px;
}